<div class="carousel slide" data-ride="carousel" id="carousel-1">
  <ol class="carousel-indicators">
    <li data-target="#carousel-1" class="active" data-slide-to="0"></li>
    <li data-target="#carousel-1" data-slide-to="1"></li>
    <li data-target="#carousel-1" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item" *ngFor="let item of imgUrl | async ,let i =index" [class.active]="i===0">
      <img src="" alt="" class="slide-image" [src]="item" [class.active]="">
    </div>
    <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="javascript:$('.carousel').carousel('next')" class="right carousel-control">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
